{% extends 'base.html' %}

{% block body %}
    <div>
        <form action="first_app/add" method="get">
            Enter First Num: <input type="text" name="t1"> <br>
            Enter Second Num: <input type="text" name="t2"> <br>
            <input type="submit" value="Addition">
        </form>
    </div>
{% endblock %}

<!--
<body bgcolor="lightcyan">
    <form action="./first_app/add" method="Get">
        Enter First Num: <input type="text" name="t1"> <br>
        Enter Second Num: <input type="text" name="t2"> <br>
        <input type="submit" value="Addition">
    </form>>

</body> -->
